/**********************************************************************************

  Project Name: Coming Soon Page
  Project Description: A simple and clean coming soon page.
  File Name: styles.css
  Author: Edwin Chen
  Author URI: http://www.edwinchen.co
  Version: 1.0.0

**********************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 100%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style-type: none;
}
/***********************************************************************************************/
/* 1. ICON FONT */
/***********************************************************************************************/
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot');
  src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-google-plus:before,
.icon-facebook:before,
.icon-twitter:before,
.icon-dribbble:before,
.icon-linkedin:before,
.icon-arrow-up:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-google-plus:before {
  content: "\21";
}
.icon-facebook:before {
  content: "\22";
}
.icon-twitter:before {
  content: "\23";
}
.icon-dribbble:before {
  content: "\24";
}
.icon-linkedin:before {
  content: "\25";
}
.icon-arrow-up:before {
  content: "\26";
}
/***********************************************************************************************/
/* 2. LESS VARIABLES AND MIXINS */
/***********************************************************************************************/
/***********************************************************************************************/
/* 3. TYPOGRAPHY AND GENERAL STYLING */
/***********************************************************************************************/
body {
  background: transparent url("../images/light-bg.jpg");
  color: #626262;
  font: 300 16px / 24px 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}
p {
  margin-bottom: 24px;
}
h1 {
  color: #2f2f2f;
  font: 36px / 48px 'Gentium Basic', Georgia, serif;
  margin: 0 auto;
  width: 50%;
}
h2 {
  font: 24px / 36px 'Gentium Basic', Georgia, serif;
  margin: 0 auto;
  width: 70%;
}
h1,
h2,
h3 {
  margin-bottom: 48px;
}
a {
  color: #f54128;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: #2f2f2f;
}
hr {
  background-color: #d1d6d4;
  border: none;
  height: 1px;
  margin: 48px auto;
  width: 45%;
}
.placeholder {
  color: #aba9a9;
}
/***********************************************************************************************/
/* 4. LAYOUT */
/***********************************************************************************************/
.container {
  margin: 0 auto;
  text-align: center;
  width: 95%;
}
.page-section {
  padding: 48px 0;
}
/***********************************************************************************************/
/* 5. HEADER */
/***********************************************************************************************/
.logo img {
  margin-bottom: 48px;
}
.main-header {
  background-color: white;
}
.main-header h2 {
  margin-bottom: 0;
}
/***********************************************************************************************/
/* 6. FORM */
/***********************************************************************************************/
.form-container {
  background: #2f2f2f url("../images/dark-bg.jpg");
  text-align: center;
}
#signup {
  background: transparent url("../images/envelopes.png") center center no-repeat;
}
form p {
  margin-bottom: 6px;
}
form p:last-child {
  margin-bottom: 0;
}
form input {
  border: none;
  font: 300 16px / 24px 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  height: 42px;
  outline: none;
  text-align: center;
  width: 288px;
}
form input[type="submit"] {
  background-color: #f54128;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
form input[type="submit"]:hover {
  background-color: white;
  color: #f54128;
}
.form-note {
  color: #c3c3c3;
  font-size: 12px;
  margin: 24px 0;
}
/***********************************************************************************************/
/* 8. FREEBIE */
/***********************************************************************************************/
.freebie-container {
  background-color: #2f2f2f;
  color: #c3c3c3;
  padding: 48px;
}
.freebie-container h2 {
  color: white;
  margin-bottom: 24px;
}
.freebie-container h3 {
  width: 40%;
  margin: 0 auto 48px auto;
}
.freebie-container img {
  height: auto;
  max-width: 812px;
  width: 100%;
}
/***********************************************************************************************/
/* 9. CONTACT */
/***********************************************************************************************/
.social li {
  display: inline;
  margin: 3px;
}
.social li a {
  background-color: #f54128;
  color: white;
  display: inline-block;
  height: 48px;
  position: relative;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  width: 48px;
}
.social li a:hover {
  background-color: #2f2f2f;
}
.social li a span {
  display: inline-block;
  font-size: 24px;
  height: 24px;
  left: 50%;
  margin: -12px 0 0 -12px;
  position: absolute;
  top: 50%;
  width: 24px;
}
